<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.tecsup.offerplaza">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Categorias.Categoria1"/>
        <activity android:name=".Categorias.Categoria2"/>
        <activity android:name=".Categorias.Categoria3"/>
        <activity android:name=".Categorias.Categoria4"/>
        <activity android:name=".Categorias.Categoria5"/>
        <activity android:name=".Categorias.Categoria6"/>
        <activity android:name=".Categorias.Categoria7"/>
        <activity android:name=".Categorias.Categoria8"/>
        <activity android:name=".Categorias.Categoria9"/>
        <activity android:name=".Categorias.Categoria10"/>
        <activity android:name=".Categorias.Categoria11"/>
        <activity android:name=".Categorias.Categoria12"/>

        <activity android:name=".activities.Home" />
        <activity android:name=".activities.compras" />
        <activity android:name=".activities.empresas" />
        <activity android:name=".activities.Empresa" />
        <activity android:name=".activities.toolbar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.VisorImagen" />
        <activity android:name=".activities.Registro" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>